{% extends 'base.html' %}

{% block title %}
    Edit Post
{% endblock %}

{% block content %}
    <h1>Edit Post</h1>
    <form action="/posts/{{post.id}}/edit" method="POST" >
        <div>
            <label for="post_title">Title</label>
            <input 
                type="text"
                name="post_title"
                id="post_title"
                value="{{post.title}}">
        </div>
        <div>
            <label for="post_content">Content</label>
            <textarea name="post_content" id="post_content">{{post.content}}</textarea>
        </div>
        <div>
            <button formaction="/users/{{post.user_id}}" formmethod="GET">Cancel</button>
            <button type="submit">Edit</button>
        </div>
        
    </form>

{% endblock %}