{% extends 'base.html' %}

{% block title %}
    {{ user.full_name }}
{% endblock %}

{% block content %}

    <div>
        <img src="{{user.image_url}}" alt="Image of {{ user.full_name }}">
        <h2>{{ user.full_name }}</h2>
        <!-- <a href="/users/{{user.id}}/edit">Edit</a> -->
        <form action="/users/{{user.id}}/delete" method="POST">
            <button formaction="/users/{{user.id}}/edit" formmethod="GET">Edit</button>
            <button type="submit">Delete</button>
        </form>

        <!-- Posts for user -->
        <h2>Posts</h2>
        <ul>
            {% for post in user.posts %}
                <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>

        <form action="/users/{{user.id}}/posts/new" method="GET">
            <button type="submit">Add Post</button>
        </form>

        

    </div>

{% endblock %}